/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
BASE STYLES 
-----------
Importing typography, Images, Icons, Forms, etc.
Scale - see http://modularscale.com/scale/?px1=16&px2=768&ra1=1.5&ra2=0
-----------
*/
/* 
COLORS
*/
/* line 12, ../../cherrypass/sass/_colors.scss */
p {
  color: #1f1d1d;
}

/* line 17, ../../cherrypass/sass/_colors.scss */
#home-section-main h2, .go-link {
  color: #06a4f3;
}

/* 
MIXINS
*/
/*
LAYOUT
*/
/* line 7, ../../cherrypass/sass/_layout.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../../cherrypass/sass/_layout.scss */
nav#main-nav, footer {
  padding: 0.3em;
}

/* line 17, ../../cherrypass/sass/_layout.scss */
nav#main-nav {
  border-bottom: 1px solid #dddddd;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px #dddddd;
  -moz-box-shadow: 0px 0px 5px #dddddd;
  box-shadow: 0px 0px 5px #dddddd;
}

/* line 23, ../../cherrypass/sass/_layout.scss */
.site-width {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  clear: left;
}

/* line 31, ../../cherrypass/sass/_layout.scss */
.social_icons {
  float: right;
}

/* line 35, ../../cherrypass/sass/_layout.scss */
.social_icons img {
  margin: 0.832em 0.37em;
  height: 1em;
}

/* line 41, ../../cherrypass/sass/_layout.scss */
.home-icon {
  width: 2.25em;
  margin-top: 0.37em;
}

/* line 46, ../../cherrypass/sass/_layout.scss */
.home-section {
  margin: 0px 1em;
  padding: 0.832em 0px;
  border-bottom: 1px solid #ddd;
}

/* line 52, ../../cherrypass/sass/_layout.scss */
.home-section:last-child {
  border-bottom: none;
}

/* line 56, ../../cherrypass/sass/_layout.scss */
.home-section-more {
  margin: 0.444em 0px;
}

/* line 60, ../../cherrypass/sass/_layout.scss */
.home-section-more.marches_menu {
  padding: 1em;
  border-top: 1px solid #ddd;
}

/* line 65, ../../cherrypass/sass/_layout.scss */
.main-content {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 70, ../../cherrypass/sass/_layout.scss */
figure, .marches_map {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0px 0px 5px #dddddd;
  -moz-box-shadow: 0px 0px 5px #dddddd;
  box-shadow: 0px 0px 5px #dddddd;
}

/* line 77, ../../cherrypass/sass/_layout.scss */
#marches_txt {
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0px 0px 5px #dddddd;
  -moz-box-shadow: 0px 0px 5px #dddddd;
  box-shadow: 0px 0px 5px #dddddd;
}

/* line 82, ../../cherrypass/sass/_layout.scss */
.page-intro {
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  /* line 86, ../../cherrypass/sass/_layout.scss */
  .page-intro figure {
    float: left;
    max-width: 50%;
    margin: 1em 1em 1em 0;
  }
}

@media screen and (min-width: 960px) {
  /* line 94, ../../cherrypass/sass/_layout.scss */
  .page-intro p {
    margin: 1em;
  }
}

/* line 100, ../../cherrypass/sass/_layout.scss */
.content-img {
  max-width: 100%;
}

/* line 104, ../../cherrypass/sass/_layout.scss */
figcaption {
  padding: 0.444em;
}

/* line 109, ../../cherrypass/sass/_layout.scss */
.section-header {
  margin: 1em 0;
}

/* line 113, ../../cherrypass/sass/_layout.scss */
.section-header-txt {
  float: left;
}

/*
* HANDLED BY JQUERY IN marches.js
*
html#marches {
	//background: url(../images/marches_img/marches_1_1.png) no-repeat center center fixed; 
	// set by jquery
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}*/
/* line 129, ../../cherrypass/sass/_layout.scss */
#marches_maps {
  float: right;
}

/* line 133, ../../cherrypass/sass/_layout.scss */
#marches_txt {
  float: left;
  width: 60%;
  margin-right: 1em;
}

/* line 139, ../../cherrypass/sass/_layout.scss */
#marches_next {
  text-align: center;
}

/* line 143, ../../cherrypass/sass/_layout.scss */
#marches_next img {
  width: 3em;
}

/* line 147, ../../cherrypass/sass/_layout.scss */
footer {
  border-top: 1px solid #dddddd;
  text-align: right;
}

/* 
TYPOGRAPHY
*/
@font-face {
  font-family: "Mono Social Icons Font";
  src: url('fonts/MonoSocialIconsFont-1.10.eot');
  src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FAMILIES */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local("Libre Baskerville"), local("LibreBaskerville-Regular"), url(http://themes.googleusercontent.com/static/fonts/librebaskerville/v1/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format("woff");
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"), url(http://themes.googleusercontent.com/static/fonts/librebaskerville/v1/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format("woff");
}

/* line 51, ../../cherrypass/sass/_typography.scss */
html {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: 1.375;
}

/* line 57, ../../cherrypass/sass/_typography.scss */
h2, #marches_next_marcheur {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.5em;
}

/* line 62, ../../cherrypass/sass/_typography.scss */
html#marches h2, #marches_txt, #marches_next {
  background-color: rgba(250, 250, 250, 0.75);
  padding: 0.666em;
  margin-bottom: 1em;
}

/* line 68, ../../cherrypass/sass/_typography.scss */
h3 {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.249em;
}

/* line 73, ../../cherrypass/sass/_typography.scss */
#marches_txt {
  font-size: 1.375em;
  line-height: 1.873em;
}

/* line 78, ../../cherrypass/sass/_typography.scss */
#marches_txt p {
  text-indent: 1.5em;
}

/* line 83, ../../cherrypass/sass/_typography.scss */
p {
  margin-bottom: 0.667em;
}

/* line 87, ../../cherrypass/sass/_typography.scss */
.home-section-more p {
  font-style: italic;
}

/* line 91, ../../cherrypass/sass/_typography.scss */
.home-section-more.marches_menu p {
  margin: 0px;
}

/* line 95, ../../cherrypass/sass/_typography.scss */
figcaption {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 0.555em;
  text-align: right;
}

/* line 101, ../../cherrypass/sass/_typography.scss */
li {
  padding-bottom: 0.555em;
  padding-left: 1.249em;
  text-indent: -1.249em;
}

/* line 108, ../../cherrypass/sass/_typography.scss */
.symbol {
  font-size: 2.25em;
}

/* line 112, ../../cherrypass/sass/_typography.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 127, ../../cherrypass/sass/_typography.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.2em;
  font-size: 130%;
}

/* line 133, ../../cherrypass/sass/_typography.scss */
a {
  text-decoration: none;
}

/* line 137, ../../cherrypass/sass/_typography.scss */
.date {
  font-style: italic;
}

/* line 141, ../../cherrypass/sass/_typography.scss */
.title {
  font-style: italic;
}

/* line 145, ../../cherrypass/sass/_typography.scss */
footer p {
  font-size: 0.832em;
  font-style: italic;
}

/*
BUTTONS
*/
/* line 5, ../../cherrypass/sass/_buttons.scss */
.more-icon {
  width: 1.249em;
  vertical-align: middle;
  margin: 0 0 0 0.832em;
}

/*
body {
	background-color: #ffffff;
}
*/
