html, body {
  height: 100%; 
  margin: 0; 
  padding: 0;

}

a {
  text-decoration: none;
}

a[target="_blank"]:after {
  font-family: FontAwesome;
  content: "\f08e";
  margin: 0 3px 0 5px;
}

.content-grid, .content-footer {
  max-width: 1200px;
}

.mdl-textfield {
  padding-right: 10px;
}
.mdl-textfield__input {
  display: inline-block;
}

.avatar {
  border-radius: 50%;
}

.motto {
  color: #808080;
  font-weight: 200;
  font-size: 1.5em;

}

.mdl-mini-footer__link-list li {
  margin-right: 10px;
}

.mdl-card {
  margin-left: 2em;
  width: 30em;
}

.about1-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about1.png') center / cover;
}

.about2-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about2.png') center / cover;
}

.about3-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about3.jpg') center / cover;
}

.about4-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about4.jpg') center / cover;
}

.about5-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about5.png') center / cover;
}

.about6-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about6.png') center / cover;
}

.about7-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about7.png') center / cover;
}

.about8-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about8.png') center / cover;
}

.about9-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about9.jpg') center / cover;
}

.about10-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about10.png') center / cover;
}

.about11-image-mdl-card {
  height: 12.5em;
  background: url('../assets/images/about11.jpg') center / cover;
}

#marches-title, #marches_txt {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 35em;
}

#map, #pano {
  float: left;
  height: 200px;
  width: 100%;
}

.about-detail {
  display: none;
}


@media (min-width: 1200px) {

  #map, #pano {
    float: left;
    height: 500px;
    width: 49%;
  }
}