/*
LAYOUT
*/

@import "compass/css3/box-shadow";

.clearfix:after {
content: "";
display: table;
clear: both;
}

nav#main-nav, footer {
	padding: 0.3em;
}

nav#main-nav {
	border-bottom: 1px solid $lightgrey;
	overflow: auto;
	@include single-box-shadow;
}

.site-width {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        clear: left;
}

.social_icons {
	float: right;
}

.social_icons img {
	margin: 0.832em 0.37em;
	height: 1em;

}

.home-icon {
	width: 2.25em;
	margin-top: 0.37em;
}

.home-section {
	margin: 0px 1em;	
	padding: 0.832em 0px;
	border-bottom: 1px solid #ddd;
}

.home-section:last-child {
	border-bottom: none;
}

.home-section-more {
	margin: 0.444em 0px;
}

.main-content {
	margin-top: 1em;
	margin-bottom: 1em;
}

figure, .marches_map {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid $lightgrey;
	@include single-box-shadow;
}

#marches_txt {
	border: 1px solid $lightgrey;
	@include single-box-shadow;
}

.page-intro {
	overflow: hidden;
}

.page-intro figure {
	@media screen and (min-width: $break-medium) {
		float: left;
		max-width: 50%;
		margin: 1em 1em 1em 0;
	}
}

.page-intro p {
	@media screen and (min-width: $break-medium) {
		margin: 1em;
	}
}

.content-img {
	max-width: 100%;
}

figcaption {
	//margin: 0.132em;
	padding: 0.444em;
}

.section-header {
	margin: 1em 0;
}

.section-header-txt {
	float: left;
}

/*
* HANDLED BY JQUERY IN marches.js
*
html#marches {
	//background: url(../images/marches_img/marches_1_1.png) no-repeat center center fixed; 
	// set by jquery
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}*/

#marches_maps {
	float: right;
}

#marches_txt {
	float: left;
	width: 60%;
	margin-right: 1em;
}

#marches_next {
	text-align: center;
}

#marches_next img {
	width: 3em;
}

footer {
	border-top: 1px solid $lightgrey;
	text-align: right;
} 
